.app {
  position: relative;
}

.logo {
  position: absolute;
  left: 40px;
  top: 50px;
}

.dis-top {
  padding-top: 84px;
  clear: both;
  overflow: hidden;
  h3 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
  }
  h5 {
    font-size: 24px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    padding-top: 20px;
  }
}

.dis-info {
  clear: both;
  overflow: hidden;
}

.info-box {
  width: 600px;
  height: 420px;
  float: left;
  background: url(../img/bg-s.png) no-repeat -25px 0;
  &.end {
    // background-color: aquamarine;
    background-position: -40px 0;
    .info-wrap {
      padding-left: 48px;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.qrcode {
  height: 120px;
  width: 120px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
  img {
    height: 100px;
    width: 100px;
  }
}

.qrcode-box {
  clear: both;
  overflow: hidden;
  .v1 {
    width: 240px;
  }
  .v2 {
    width: 240px;
  }
  p {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.go-order {
  height: 160px;
  line-height: 160px;
  text-align: center;
  vertical-align: middle;
  a {
    line-height: 100%;
  }
}

.info-wrap {
  padding: 30px 20px;
  padding-left: 60px;
  color: #333;
  h6 {
    font-size: 17px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    border-left: 4px solid #333;
  }
}

.color {
  color: $mainColor;
}